// borders
$border-radius-inner: 8px;
$border-radius-outer: 12px;

// buttons
$button-height-default: 35px;
$button-height-small: 25px;

// fonts
$font-size-root: 16px;
$font-size-helper: 11px;
$font-size-button: 14px;
$font-size-title: 22px;

// colors
$col-navy-base: #17255a;
$col-error-base: #bd1e1e;
$col-pink-base: #eae0ff;
$col-text-base: #272727;
$col-pink-light: rgba(234, 224, 255, 0.4);
$col-gray-base: #27272740;

// box-shadow
$box-shadow-card: 4px 8px 40px rgba(0, 0, 0, 0.25);
